In [3]:
from collections import namedtuple

In [5]:
User = namedtuple('User', 'name login password email')
john = User('John Smith', 'john', '1234', 'john@usenet.com')
print(john.name, john[3])

John Smith john@usenet.com

In [8]:
print(john._fields)
print(john._asdict())

('name', 'login', 'password', 'email')
{'name': 'John Smith', 'login': 'john', 'password': '1234', 'email': 'john@usenet.com'}

In [14]:
t = (1, 2, 3)
nt = reversed(t)
print(t, *nt)

(1, 2, 3) 3 2 1

In [32]:
text = """
    john    26      m       kansas
    mary    34      f       cincinnati
    eve     17      f       new york
"""
fields = text.split('\n')[1:-1]
print(fields)

name = slice(4, 12)
age = slice(12, 20)
sex = slice(20, 28)
city = slice(28, None)

print(fields[1][name])
print(fields[1][age])
print(fields[1][sex])
print(fields[1][city])

['    john    26      m       kansas', '    mary    34      f       cincinnati', '    eve     17      f       new york']
mary
34
f
cincinnati